input#input-egn::-webkit-outer-spin-button,
input#input-egn::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input#input-egn {
    -moz-appearance:textfield; /* Firefox */
}
